In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnnyNose  diffBreath  infectionProb
0  162.188668         1   99           0          -1              1
1  389.667669         1   78           0           1              0
2  247.333700         0   61           1           0              0
3  145.018194         0   21           1           1              1
4  163.102410         0   75           0          -1              0

In [4]:
df.tail()

           fever  bodyPain  age  runnnyNose  diffBreath  infectionProb
3094  360.532713         1   61           0          -1              1
3095    1.225473         1   82           0           1              1
3096  330.002612         1   15           1           0              1
3097  126.652146         1   85           1           0              1
3098  278.138874         1   16           1           0              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099 entries, 0 to 3098
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          3099 non-null   float64
 1   bodyPain       3099 non-null   int64
 2   age            3099 non-null   int64
 3   runnnyNose     3099 non-null   int64
 4   diffBreath     3099 non-null   int64
 5   infectionProb  3099 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 145.3 KB

In [6]:
df['diffBreath'].value_counts()

 1    1073
-1    1016
 0    1010
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnnyNose,diffBreath,infectionProb
count,3099.000000,3099.000000,3099.000000,3099.000000,3099.000000,3099.000000
mean,196.226223,0.504034,50.699581,0.502420,0.018393,0.507583
std,113.525532,0.500064,28.882899,0.500075,0.820955,0.500023
min,0.128435,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.197499,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,194.947922,1.000000,50.000000,1.000000,0.000000,1.000000
75%,296.484363,1.000000,76.000000,1.000000,1.000000,1.000000
max,391.802450,1.000000,100.000000,1.000000,1.000000,1.000000

# Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices = shuffled[test_set_size:]
    train_indices = shuffled[:test_set_size]
    return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([1, 2, 3, 6, 0, 5, 4])

In [11]:
train,test = data_split(df,0.2)

In [12]:
train

           fever  bodyPain  age  runnnyNose  diffBreath  infectionProb
718    95.703478         1   21           1           0              0
2953  310.750846         1    4           0           0              0
1805  118.643925         1   64           1          -1              0
1612   16.204839         1   74           1           1              0
1190  264.609712         0   11           1          -1              1
...          ...       ...  ...         ...         ...            ...
2394  257.760574         1   68           0           0              0
2384  250.539068         0   71           0           0              1
2679   72.163024         1   47           0          -1              1
2494  161.411277         1   50           0          -1              0
1187  211.745259         1   96           1           0              0

[619 rows x 6 columns]

In [13]:
test

           fever  bodyPain  age  runnnyNose  diffBreath  infectionProb
1538  349.907554         0   37           0          -1              0
1173  129.733900         0    3           1           1              0
168    47.471002         1  100           1          -1              0
2589  342.905235         0   85           1           1              0
1011  378.092531         1   24           0           0              0
...          ...       ...  ...         ...         ...            ...
3092  242.988542         1   79           1          -1              0
1095   76.631625         1  100           1           0              0
1130  117.656021         1   77           1           1              1
1294  376.413783         1    7           1           1              1
860   291.096965         0   25           0           0              0

[2480 rows x 6 columns]

In [14]:
X_train = train[['fever', 'bodyPain', 'age','runnnyNose', 'diffBreath']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age','runnnyNose', 'diffBreath']].to_numpy()

In [15]:
Y_train = train[['infectionProb']].to_numpy().reshape(619)
Y_test = test[['infectionProb']].to_numpy().reshape(2480)

In [16]:
Y_train

array([0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 0], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [19]:
inputFeatures = [100,1,22,1,1]
infprob = clf.predict_proba([inputFeatures])[0][1]

In [20]:
infprob

0.483950625788165